.container{
    padding:45px;
    /* background-color: aqua;   */
}
li{
    /*display: inline-block;*/
    list-style: none;
    font-size:medium ;
    padding-right: 40px;
}

.carousel-inner img{
    width: 100%;
    max-height: 400px !important;
}

footer {
    position: fixed;
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

/* navbar css */
.navbar{
    letter-spacing: 4px;
    background-color: rgb(61, 57, 57);
    color:orange;
}

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
  }

.navbar-nav li a:hover {
    color: #fff !important;
  }
  
  /* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
  }

.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
  }
.dropdown-menu li a{
  color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
  background-color: rgb(83, 81, 81) !important;
}